body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2::after {
    position: absolute;
    border: 1px solid #333;
    top: 4rem;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 5rem;
}

h3 {
    font-weight: 600;
}

h4, h5, h6 {
    font-weight: 500;
}

h5 {
    font-size: 1rem;
}

#backToTopBtn {
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    z-index: 200;
}

.btn-llamar {
    position: fixed;
    left: 2.5rem;
    bottom: 6rem;
    z-index: 200;
    padding: 0.7rem;
    background-color: #FFF;
    border: 1px solid;
    border-radius: 50%;
}

.btn-llamar:hover {
    background-color: #DDD;
}

.btn-mensaje {
    position: fixed;
    left: 2.5rem;
    bottom: 2.3rem;
    z-index: 200;
    background-color: #DDD;
    border-radius: 50%;
}

.btn-mensaje img {
    height: 2.8rem;
}

.btn-mensaje img:hover {
    opacity: 0.5;
}

.btn-secondary {
    background-color: #171717;
    opacity: 0.9;
}

/* Navbar */

.logo {
    height: 3rem;
}

.bg-dark {
    background-color: #171717 !important;
    opacity: 0.9;
}

/* Home */

#home img {
    object-fit: cover;
}

.img-home-2 {
    object-position: 20% 50%;
}

.caption-1 {
    top: 35%;
}

.caption-2 {
    top: 35%;
}

.caption-3 {
    top: 47%;
    right: 40%;
}

@media (max-width: 992px) {
    .caption-3 {
        top: 30%;
        right: 10%;
    }
}

/* About */

#about p {
    text-align: justify;
}

#about li {
    list-style: none;
}

.rounded-about {
    border-radius: 3rem;
}

/* Products */

.card-group-products {
    border-top: none;
}

.card-product-right {
    border-right: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-product-left {
    border-left: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Gallery */

.gallery-photo {
    cursor: pointer;
}

.gallery-photo:hover {
    opacity: 0.5;
}

/* Footer */

footer {
    background-color: #F1F1F1;
}

.about-footer {
    text-align: justify;
}

/* Modal */

#galleryModal .modal-dialog {
    max-width: none;
}

#galleryModal .modal-header {
    background-color: #F1F1F1;
}

#galleryModal .modal-content {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 0;
}

#carouselGallery img,
#carouselGallery video {
  height: calc(100vh - 45px);
  max-height: calc(100vh - 45px);
  object-fit: contain;
}

#carouselGallery .carousel-indicators {
    margin-bottom: 2.5rem;
}

#carouselGallery .carousel-item.active,
#carouselGallery .carousel-item-right,
#carouselGallery .carousel-item-left {
    display: flex;
}
